simple-salesforce
pandas
openpyxl
requests
gspread
gspread_dataframe
google-auth
streamlit_qrcode_scanner
firebase_admin
pytz
flask
easyocr
torch
streamlit-aggrid
streamlit-js-eval
streamlit==1.29.0
altair==4.2.2

